<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.client.httpcontext.common">
	         <resource-mapping
	               bundle="com.zizibujuan.client.common"
	               path="/static/common">
	         </resource-mapping>
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/common"
            httpcontextId="com.zizibujuan.client.httpcontext.common">
      </resource>
     </extension>
</plugin>
